*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color:#1e1c40;      
      
}

.container{
      margin-top:-10%;     
}


.icon{
      width:50%;
      vertical-align:middle;
}


.iconText {
      font-size:130%;
      margin-left:-15%;
      color:#B9D8F2;

}

.date-box{font-size:90%;;}

.date-box, .location-box, .plan-box{
      margin-top:-20%;
      padding: 0;
}


/* footer icons*/
.icon-box{
      display:flex;
      justify-content: center;
      margin-top:-5%;
}
.icon-profile{
      width:80%;
      vertical-align:middle;  
      margin-left:-20%;
      margin-right: 20%;
      margin-top:-5%;
}
.icon-weather{
      width:90%;
      vertical-align:middle;
      margin-top:-10%;
      margin-right:-20%;
      margin-left:20%;
}

    
