


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    .App-body{
      background-color:#1e1c40;
      text-align:center;
    }
    footer{
      text-align:center;
    }
    
    /* menu icon*/
    .menu-icon{
      width: 25%;
      cursor: pointer;
      margin-top:-5%;
    }
    
    /* City and date */
    
    .city-text{
      font-size:250%;
      color:#b9d8f2;
      text-align:center;
      margin-top:-3%;
    }
    
    .date-text{
      text-align:center;
      color:#e3f4fe;
      padding:7px;
      font-size:150%;

    }
    
    /* temperature and icon*/
    .temp{
      color: #b9d8f2;
      text-align:center;
      font-size:500%;
      margin-top:10%;
      margin-bottom:-5%;
    }
    
    .main-icon{
      width:110%;
      margin-top:-30%;
      text-align: center;  
     margin-bottom: -40%;
     margin-left:-20px;
    }
    
    
    /*wind, humidity and cloud*/
    .wph-box{
      background-color: #1e1c40;
      color: #b9d8f2;
      display:flex;
      justify-content: center;
      margin-top:10%;
    }
    
     
    .icon-drop{
      width:110%;
      margin-top:-7%;
      text-align: center; 
      margin-left:-5px;
      margin-right:-5px;
    }
    .drop-text{
      text-align: center;
      margin-top:-26%;
      font-size:20px; 
    }
    
    
    /* arrow icons that links to hourly temperatures*/
    .arrow-icon{
      width: 30%;
    
    }